data/*h5ad
notebooks/figures/*pdf
notebooks/figures/*pdf
notebooks/*csv
notebooks/*xlsx
figures/*pdf
figures/*png
tables/*json
tables/*csv
tables/*xlsx
tables/.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
notebooks/dep*
code/*gtf
